#{extends 'main.html' /}
#{set title:'Perfil do paciente' /}

<body class="body">
<div class="container">
  <div class="cont-det">
    <p class="listagem">Paciente: ${paciente.nome}</p>
    <p class="listagem" id="cpfFormatado">CPF: ${paciente.cpf}</p>
    <p class="listagem">Data de nascimento: ${paciente.dataNascimento.format('dd/MM/yyyy')}</p>
    <p class="listagem">Idade: ${paciente.idade}</p>
    <p class="listagem" id="telefoneFormatado">Telefone: ${paciente.telefone}</p>
    <p class="listagem">Convênio: ${paciente.convenio}</p>

    <hr><br>

    <a href="@{Pacientes.form}"><input type="submit" class="botao" value="Cadastrar Novo Paciente"></a><br>
    <a href="@{Pacientes.editar(paciente.id)}"><input type="submit" value="Editar Paciente"></a><br>
    <a href="@{Pacientes.remover(paciente.id)}"><input type="submit" value="Excluir Paciente"></a>
  </div>

  <hr>

  <h5>Buscar por especialidades</h5>
  <br>
  <form action="@{Pacientes.detalhar}" method="GET">
    <input type="hidden" name="id" value="${paciente.id}" />
    <input type="text" name="busca" value="${busca}" placeholder="Digite a especialidade" /> <br>
    <button type="submit">Buscar Consultas</button>
  </form>


  <h5>Consultas disponíveis:</h5>

  <ul>
    #{if consultas != null && !consultas.isEmpty()}
      #{list items:consultas, as:'consulta'}
        <li>
          Especialidade: ${consulta.especialidade} <br>
          Médico: ${consulta.medico} <br>
          Data: ${consulta.data}
          <hr>
        </li>
      #{/list}
	  #{/if}
    #{else}
      <li>Ainda não há nenhuma consulta aqui</li>
	#{/else}
  </ul>
</div>
</body>
