#{extends 'main.html' /}
#{set title:'Cadastro de paciente' /}

<body class="body">
<container>
<div class="form-group">
    
    <form action="/pacientes/salvar">


      <label for="exampleInput">Nome:</label>
      <input type="text" class="form-control" name="paciente.nome" placeholder="Seu nome">
      <br><br>
	  
	  
	  <label for="exampleInput">CPF:</label>
	  <input type="text" class="form-control" name="paciente.cpf" placeholder="Seu CPF">
	  <br><br>
	  
      <label for="exampleInput">Data de Nascimento:</label>
      <input type="Date" class="form-control" name="paciente.dataNascimento">
      <br><br>
	 
	  
	  
	  <label for="exampleInput">Número de Telefone</label>
      <input type="text" class="form-control" name="paciente.telefone" placeholder="Número de telefone">
	  <br><br>
		
		
      <label>Convênio:</label>
      <select class="form-select" name="paciente.convenio" >
	  <option selected value="HapVida">HapVida</option>
	  <option value="UniMed">UniMed</option>
	  <option value="Particular">Particular</option>
	  <br><br>
	  <br>
 	  <input type="submit">
	  
	  
</form>
</div>
</container>
<br>
<div>
<button onclick="location.href='/'">Voltar</button>
</div>
</body>