@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
.body {
	background-color: #ffffff;
}

.cads, .detalhar {
    color: #6A5ACD;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
}
#nots{
    background-color: #6A5ACD;
    border-radius: 4px;
    padding: 10px;
    flex-direction: column;
    width: 100%;
    left: 50%;
    box-shadow: #7868e2;     
}
h3{
    color: white;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
}
t1{
    color: white;
    font-family: "Nunito", sans-serif;
    font-weight: light;
}
.botao {
    background-color: #6A5ACD;
    color: white;
    border-radius: 5px;
    align-content: center;
    width: 100%;
    border: none;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.botao:hover {
  background-color: #5a4bbd;
}



.bot-novo {
    background-color: #6A5ACD;
    color: white;
    border-radius: 5px;
    align-content: center;
    width: 100%;
    border: none;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}