@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
body {
	background-color: #ffffff;
}
.content{
    display: flex;
    align-items: center;
}
#cads, .detalhar {
    color: #55127c;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
}
a:link, a:visited, a:active{
    color: #8a1fc9;
}
a:hover{
    color: #360b4e;
}
.cont-det{
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-log{
    display: flex;
    align-items: center;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
}
#imagem{
    border-radius: 20px; 
    margin: 20px;
}
#nots{
    background-color: #6a2797;
    border-radius: 4px;
    padding: 10px;
    flex-direction: column;
    width: 100%;
    left: 50%;
    box-shadow: #5c218b;     
}
h3{
    color: white;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
}
t1{
    color: white;
    font-family: "Nunito", sans-serif;
    font-weight: light;
}
txt{
    color: black;
    font-family: "Nunito", sans-serif;
    font-weight: light;
    font-size: 20px;
}
.botao {
    background-color: #4c1c79;
    color: white;
    border-radius: 5px;
    align-content: center;
    width: 100%;
    border: none;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}
#menu {
    display: flex;
    justify-content: space-between;
     align-items: center;
}

.botao:hover {
  background-color: #6a2797;
}

.bot-novo {
    background-color: #6a2797;;
    color: white;
    border-radius: 5px;
    align-content: center;
    width: 100%;
    border: none;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}