#{extends 'main.html' /} 
<title>Pacientes Cadastrados</title>
<div id="menu">
    <img src="https://i.pinimg.com/736x/ce/65/0a/ce650a264de688cd9426fa70a65cb763.jpg" width="150px">
	<h4 id="cads">
		Olá, ${session['userName']}
		<t>(${session['cargo']})</t>
		<t> <a href="@{Logins.logout}">Sair</a></t>
		<t> <a href="@{Pacientes.menu}">Menu</a></t>
	</h4>
</div>
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/lista_all.css'}">

<body class="body">
	<div class="pacientes-container">
		<h1>Pacientes Cadastrados</h1>
		<p class="pacientes-info">Exibindo total de: ${pacientes?.size()}
			pacientes</p>

		<table class="tabela-pacientes">
			<thead>
				<tr>
					<th>Nome do Paciente</th>
					<th>Telefone</th>
					<th>CPF</th>
				</tr>
			</thead>
			<body>#{list items:pacientes, as:'paciente'}
			<tr>
				<td>${paciente.nome} | <a
					href="@{Pacientes.detalhar(paciente.id)}">Exibir paciente</a></td>
				<td>${paciente.telefone}</td>
				<td>${paciente.cpf}</td>
			</tr>
			#{/list}
</body>
</table>
</div>
</body>
