#{extends 'main.html' /}
<title>CNM Medical Center</title>

<body>

    <div id="menu">
    <img src="https://i.pinimg.com/736x/ce/65/0a/ce650a264de688cd9426fa70a65cb763.jpg" width="150px">
    <br></div>

    <div class="cont-det">

    <img id="imagem" alt="img" src="https://t4.ftcdn.net/jpg/15/35/60/03/360_F_1535600328_29MxQop9O93zn42cMR50XmU7bYKs1T0L.jpg" width="80%">
    <div class="content">

    <div id="intro">
    <txt>Bem-vindo ao sistema de gerenciamento da CNM!</txt>
    <h1 id="cads">Seu bem-estar é o nosso propósito.</h1>
    </div>
    

    <div id="nots">
    <h3>Nossos Serviços</h3>
    <t1>Nossa clínica oferece serviços em consultas e exames dermatológicos, assim como consultas, tratamentos e exames
        oncológicos. Sempre iremos priorizar a saúde do paciente, desde pequenos serviços até os mais complexos.
    </t1>
    </div>
    </div>
    <br>
    <button onclick="location.href='/Logins/login'" class="botao">Entrar</button>
    
</div>
</div>
</body>
