#{extends 'main.html' /}
<title>CNM Medical Center</title>

<body class="body">
    <div class="cont-det">
    <container>

<div id="home">
    <div id="menu">
        <img src="https://i.pinimg.com/736x/ce/65/0a/ce650a264de688cd9426fa70a65cb763.jpg" width="200px">
    </div>

<div id="nots">
    <h3>Nossos Serviços</h3>
    <t1>Nossa clínica oferece serviços em consultas e exames dermatológicos, assim como consultas, tratamentos e exames
        oncológicos. Sempre iremos priorizar a saúde do paciente, desde pequenos serviços até os mais complexos.
    </t1>
    </div>

    
    <h1 class="cads">Seu bem-estar é o nosso propósito⚕</h1>

    <img src="https://i.pinimg.com/736x/cb/9b/0b/cb9b0be89713647904bc166d5426747a.jpg">
    <p>Bem-vindo ao sistema de gerenciamento da CNM!</p>
	<h4>Serviços oferecidos: Oncologia e Dermatologia</h4> <br>
    <button onclick="location.href='/Logins/login'" class="botao">Entrar</button>
    
</div>
</div>
</container>
</body>
